*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
data/indosum/test.01.jsonl filter=lfs diff=lfs merge=lfs -text
data/indosum/test.02.jsonl filter=lfs diff=lfs merge=lfs -text
data/indosum/test.03.jsonl filter=lfs diff=lfs merge=lfs -text
data/indosum/test.04.jsonl filter=lfs diff=lfs merge=lfs -text
data/indosum/test.05.jsonl filter=lfs diff=lfs merge=lfs -text
data/indosum/train.01.jsonl filter=lfs diff=lfs merge=lfs -text
data/indosum/train.02.jsonl filter=lfs diff=lfs merge=lfs -text
data/indosum/train.03.jsonl filter=lfs diff=lfs merge=lfs -text
data/indosum/train.04.jsonl filter=lfs diff=lfs merge=lfs -text
data/indosum/train.05.jsonl filter=lfs diff=lfs merge=lfs -text
ml/models/ner_experiment_20251018_215155/best_model_by_f1.keras filter=lfs diff=lfs merge=lfs -text
ml/models/ner_experiment_20251018_215155/model.keras filter=lfs diff=lfs merge=lfs -text
ml/models/ner_experiment_20251018_215155/training_history.png filter=lfs diff=lfs merge=lfs -text
ml/models/ner_experiment_30-November-2025_13.35/best_model_by_f1.keras filter=lfs diff=lfs merge=lfs -text
ml/models/ner_experiment_30-November-2025_13.35/entity_f1_metrics.png filter=lfs diff=lfs merge=lfs -text
ml/models/ner_experiment_30-November-2025_13.35/model.keras filter=lfs diff=lfs merge=lfs -text
ml/models/ner_experiment_30-November-2025_13.35/training_metrics.png filter=lfs diff=lfs merge=lfs -text
*.keras filter=lfs diff=lfs merge=lfs -text
