# Extraction configuration for Babel / pybabel
# Usage:
#   pybabel extract -F babel.cfg -k "lang:2" -o locale/messages.pot .
#   pybabel update -i locale/messages.pot -d locale
#   pybabel compile -d locale
#   pybabel init -i locale/messages.pot -d locale -l <lang_code>

[python: app/**.py]
encoding = utf-8

[jinja2: templates/**.html]
encoding = utf-8
